body {
  background-image: url(https://cdn.wikifarmer.com/images/detailed/2024/12/11%20Interesting%20Facts%20about%20Kiwifruit.png);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;

  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;


}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 219, 211 );
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 1px solid black;
}

h2{


  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}